@use '../abstracts' as a;

#landing-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: all 0.5s ease;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    h1 {
        font-size: 3rem;
        margin: 0;
        transition: all 0.5s ease;
        cursor: pointer;
        pointer-events: auto; 
    }

    &.active {
        top: -40vh;
        pointer-events: none;

        h1 {
            pointer-events: auto;
        }
    }

    #button-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: -1rem;

        .landing-btn {
            padding: 1rem 2rem;
            font-size: 1.2rem;
            min-width: 200px;
            cursor: pointer;
            background-color: a.$secondary-color;
            color: a.$primary-color;
            border: none;
            font-family: a.$body-font-family;
            transition: transform 150ms ease;

            &:hover {
                transform: translateY(-2px);
            }
        }
    }

}

@media screen and (min-width: 768px) {
    #landing-container {
        #button-container {
            flex-direction: row;
            gap: 2rem;
        }
    }
}